p{
    font-size: 16px;
    padding-left: 50px;
}
#estilo1{
    color: rgb(23, 136, 0);
    padding-left: 10px;
    margin-bottom: 5px;
}
#estilo2{
    color: rgb(0, 46, 172);
    padding-left:25px;
    margin-bottom: 0px;
    margin-top:5px;
}
#time{
    font-size: 13px;
    padding-left: 25px;
    margin-bottom: 5px;
    margin-top: 0px;
}